.casestudy__hero--bundl {
	background: white;
}

.casestudy__hero,
.casestudy__hero--bundl,
.casestudy__hero--cruzhacks,
.casestudy__hero--ic,
.casestudy__hero--t4g,
.casestudy__hero--wam {
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

figcaption,
figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

details,
menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

[hidden],
template {
	display: none
}

abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html {
	zoom: .9;
	margin: 0
}

@media (min-width:1500px) {
	html {
		zoom: 1.1
	}
}

body {
	font: 1.2em/1.3 proxima-nova, Helvetica, sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased
}

@media (max-width:640px) {
	body,
	html {
		overflow-x: hidden
	}
	body {
		position: relative
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: proxima-nova, Helvetica, sans-serif;
	color: #4d4d4d
}

h1 {
	font-weight: 700;
	color: #333;
	font-size: 4em;
	line-height: 1.02
}

@media (max-width:900px) {
	h1 {
		font-size: 3.3rem
	}
}

h2 {
	font-weight: 700;
	font-size: 2em
}

h3 {
	font-weight: 600;
	font-size: 1.4em
}

h4 {
	font-weight: 700;
	font-size: 1em
}

h4,
h5 {
	font-style: italic
}

h5 {
	font-weight: lighter;
	font-size: .8em
}

p {
	margin: 0;
	color: #888;
	letter-spacing: .5px
}

main {
	width: 700px;
	margin: 0 auto
}

@media (max-width:900px) {
	main {
		width: 90%
	}
}

.link,
.link--e,
.link--r,
.link--s,
.link--t,
.link--w {
	color: #666;
	box-shadow: inset 0 -9px 0 rgba(0, 0, 0, .05);
	border-radius: 3px;
	transition: all .1s ease
}

.dark .link--e:hover,
.dark .link--r:hover,
.dark .link--s:hover,
.dark .link--t:hover,
.dark .link--w:hover,
.dark .link:hover,
.link--e:hover,
.link--r:hover,
.link--s:hover,
.link--t:hover,
.link--w:hover,
.link:hover {
	color: #fff;
	box-shadow: inset 0 -21px 0 rgba(0, 0, 0, .84);
	border-radius: 0
}

.dark .link--s:hover,
.link--s:hover {
	color: #ffc04d;
	box-shadow: inset 0 -21px 0 rgba(255, 189, 69, .1);
	border-radius: 0
}

.dark .link--e:hover,
.link--e:hover {
	color: #ce3dce;
	box-shadow: inset 0 -21px 0 rgba(255, 108, 224, .1);
	border-radius: 0
}

.dark .link--r:hover,
.link--r:hover {
	color: #4d6eff;
	box-shadow: inset 0 -21px 0 rgba(69, 150, 255, .1);
	border-radius: 0
}

.dark .link--t:hover,
.link--t:hover {
	color: #e4d236;
	box-shadow: inset 0 -21px 0 rgba(255, 236, 69, .1);
	border-radius: 0
}

.dark .link--w:hover,
.link--w:hover {
	color: #ff684d;
	box-shadow: inset 0 -21px 0 rgba(255, 69, 69, .1);
	border-radius: 0
}

sup:hover {
	text-decoration: underline
}

ol {
	margin: 35px 0;
	counter-reset: a
}

ol>li {
	list-style: none;
	position: relative;
	margin: 15px 11px
}

ol>li:before {
	counter-increment: a;
	content: counter(a);
	background: #333;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0;
	text-align: center;
	padding: 6px;
	padding: 5px 0;
	width: 30px;
	border-radius: 25px;
	position: absolute;
	left: -45px;
	top: -3px
}

header {
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center
}

@media (max-width:640px) {
	header {
		justify-content: flex-start
	}
}

.nav-link,
nav ul li {
	font-family: proxima-nova, Helvetica, sans-serif;
	color: #4d4d4d;
	font-weight: 600;
	text-transform: lowercase
}

nav {
	margin: 50px 0
}

nav .back,
nav .back--about {
	color: black;
	display: flex;
	align-items: center;
	text-decoration: none;
}

@media (max-width:640px) {
	nav .back,
	nav .back--about {
		margin-left: 10px
	}
}

nav .back--about {
	height: 50px;
	color: #ababab;
	display: flex;
	align-items: center
}

nav .back--about svg,
nav .back svg {
	padding: 0 3px 0 2px;
	transition: padding .2s ease
}

nav .back--about:hover svg,
nav .back:hover svg {
	padding-left: 0;
	padding-right: 5px
}

nav ul li {
	font-size: .9em;
	display: inline-block
}

nav ul li:last-child a {
	padding-right: 0
}

@media (max-width:640px) {
	nav {
		margin: 50px 0 30px
	}
}

.nav--absolute {
	width: 700px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	right: 0;
	margin: 60px auto;
	position: absolute
}

.nav--absolute ul li a {
	color: #fff;
	transition: color .5s ease
}

.nav--absolute ul li a:hover {
	color: #e6e6e6
}

.social {
	opacity: 0;
	margin: 20px 0 0;
	display: flex;
	align-items: center
}

.social a:hover img {
	transition: opacity .2s ease;
	opacity: .5
}

.social a:hover span {
	opacity: .8;
	filter: hue-rotate(235deg)
}

.spacer {
	width: 100px;
	height: 2px;
	margin: 30px 0;
	background-color: #eee
}

.btn {
	cursor: pointer;
	display: inline-block;
	padding: 12px 27px;
	border-radius: 30px;
	background-color: #4d4d4d;
	opacity: 1;
	transition: box-shadow .5s ease;
	font-family: proxima-nova, Helvetica, sans-serif;
	color: #fff;
	font-size: .8em;
	font-weight: 600
}

.btn:active {
	transform: translateY(1px)
}

.btn--bundl {
	background-color: #60a8ff
}

.btn--cruzhacks {
	background-color: #998dff
}

.btn--wam {
	background-color: #ff6b6b
}

.btn--t4g {
	background-color: #ffdf1f
}

@media (max-width:640px) {
	.btn {
		padding: 10px 22px
	}
}

.work {
	margin: 60px 0;
	display: flex;
	flex-direction: column;
	align-items: left
}

.work__card,
.work__card__tiny,
.work__card__tiny--reach,
.work__card__tiny--sink,
.work__card__tiny--unif {
	position: relative;
	width: 530px;
	height: 245px;
	margin: 25px 0;
	background: #fff;
	border-radius: 12px;
	border: 1px solid #efefef;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform .3s ease, box-shadow .2s ease, border .2s ease
}

@media (max-width:640px) {
	.work__card,
	.work__card__tiny,
	.work__card__tiny--reach,
	.work__card__tiny--sink,
	.work__card__tiny--unif {
		width: 100%;
		height: 187px;
		font-size: .84rem;
		margin: 10px 0;
		padding: 0 27px;
		box-sizing: border-box
	}
}

.work__card:hover,
.work__card__tiny--reach:hover,
.work__card__tiny--sink:hover,
.work__card__tiny--unif:hover,
.work__card__tiny:hover {
	border: 1px solid #ebebeb;
	box-shadow: 0 3px 12px rgba(0, 0, 0, .04);
	transform: translateY(-2px)!important
}

.work__card:hover:after,
.work__card__tiny--reach:hover:after,
.work__card__tiny--sink:hover:after,
.work__card__tiny--unif:hover:after,
.work__card__tiny:hover:after {
	transition: transform .5s ease;
	transform: translateY(1px)
}

.work__card[data-seen]:after,
[data-seen].work__card__tiny--reach:after,
[data-seen].work__card__tiny--sink:after,
[data-seen].work__card__tiny--unif:after,
[data-seen].work__card__tiny:after {
	content: "\2713   Seen";
	position: absolute;
	bottom: -1.8em;
	font-size: .9em;
	left: .8em;
	color: #b9b9b9;
	animation: 3s cubic-bezier(.72, .26, .24, 1) 1 a;
	transition: transform .5s ease
}

.work__card__tiny,
.work__card__tiny--reach,
.work__card__tiny--sink,
.work__card__tiny--unif {
	width: 170px;
	height: 60px;
	justify-content: flex-start;
	padding: 0 20px;
	line-height: 1;
	display: inline-flex;
	margin: 25px 20px 25px 0;
	transition: transform .2s ease
}

.work__card__tiny--reach:hover,
.work__card__tiny--sink:hover,
.work__card__tiny--unif:hover,
.work__card__tiny:hover {
	transform: translateY(-2px)!important
}

@media (max-width:640px) {
	.work__card__tiny,
	.work__card__tiny--reach,
	.work__card__tiny--sink,
	.work__card__tiny--unif {
		display: flex;
		margin: 25px auto 25px 0
	}
}

.work__card__tiny--reach .circle,
.work__card__tiny--sink .circle,
.work__card__tiny--unif .circle,
.work__card__tiny .circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 14px;
	background: #f1f1f1
}

.work__card__tiny--reach .circle {
	background: linear-gradient(160deg, blue, #f0f8ff)
}

.work__card__tiny--reach:hover {
	background: blue;
	border: 1px solid blue;
	color: #fff
}

.work__card__tiny--reach:hover .circle {
	background: #fff
}

.work__card__tiny--sink .circle {
	background: linear-gradient(35deg, #f0d, #fffaf0)
}

.work__card__tiny--sink:hover {
	background: #f0d;
	border: 1px solid #f0d;
	color: #fff
}

.work__card__tiny--sink:hover .circle {
	background: #fff
}

.work__card__tiny--unif .circle {
	background: linear-gradient(35deg, #fffb00, #fff)
}

.work__card__tiny--unif:hover {
	background: #fffb00;
	border: 1px solid #fffb00;
	color: #fff
}

.work__card__tiny--unif:hover .circle {
	background: #fff
}

.work__text {
	width: 275px
}

.work__sub {
	margin: 10px 0 17px;
	font-size: .8em
}

@media (max-width:640px) {
	.work__sub {
		margin: 10px 0 12px
	}
}

.work__hero {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 151px
}

@media (max-width:640px) {
	.work__hero img {
		width: 90px
	}
}

.read-reset {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #888;
	cursor: pointer;
	border: 1px solid #eee;
	padding: 18px;
	border-radius: 10px
}

.read-reset img {
	margin-right: 8px
}

@media (max-width:640px) {
	.read-reset {
		align-items: flex-end;
		flex-direction: column;
		text-decoration: underline;
		text-align: right;
		border: none;
		padding: 0
	}
	.read-reset img {
		margin-right: 0;
		margin-bottom: 4px
	}
}

.greeting {
	color: #979797;
	letter-spacing: 0
}

.casestudy {
	width: 680px;
}

@media (max-width:640px) {
	.casestudy {
		width: 90%;
	}
}

.casestudy h2,
.casestudy h3,
.casestudy p {
	color: #333
}

.casestudy h2 {
	margin-bottom: 27px;
	font-size: 28px
}

.casestudy h3 {
	margin-bottom: 10px;
	font-size: 20px
}

.casestudy p {
	margin-bottom: 35px;
	font-family: proxima-nova, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: .5px
}

.casestudy p.highlight {
	color: #464646;
	font-style: italic;
	border-left: 2px solid #c7c7c7;
	padding: 0 26px;
	font-size: 1em
}

.casestudy ul {
	margin: 35px 0;
	padding: 0 23px;
	color: #333
}

.casestudy ul li {
	font-size: 18px;
	margin: 15px 0;
	list-style: none;
	position: relative
}

.casestudy ul li:before {
	content: "\2022";
	position: absolute;
	font-size: 2em;
	color: #96999a;
	left: -23px;
	top: -15px
}

.casestudy a {
	text-decoration: underline
}

.casestudy sup a {
	text-decoration: none
}

.casestudy figure {
	display: block;
	margin: 0 auto 45px
}

.casestudy figure img {
	margin: 0 auto
}

@media (max-width:640px) {
	.casestudy figure img {
		width: 100%
	}
}

.casestudy figure figcaption {
	font-size: .8em;
	color: #909090;
	text-align: center
}

.casestudy figure.big {
	display: flex;
	justify-content: center;
	align-items: center
}

.casestudy .browser img {
	box-shadow: 0 0 8.5px rgba(0, 0, 0, .1), 0 9px 29px rgba(0, 0, 0, .1);
	border-radius: 4px
}

.casestudy .heatmap {
	margin: -590px -110px 0!important;
	box-shadow: unset!important;
	position: absolute;
	z-index: -1
}

.casestudy .heatmap-hide {
	transition: opacity .3s ease
}

.casestudy .heatmap-hide:hover {
	opacity: 0
}

.casestudy .heatmap-caption {
	margin-top: -27px
}

.casestudy img,
.casestudy video {
	margin: 0 auto 45px
}

.casestudy img {
	display: block;
	transition: all .4s ease
}

.casestudy video {
	display: block
}

.casestudy .shadow {
	box-shadow: 0 2px 13px rgba(0, 0, 0, .08);
	border-radius: 7px
}

.casestudy .list-add {
	color: #41b334;
	text-transform: uppercase;
	margin-right: 5px;
	font-weight: 700;
	font-size: .8em;
	padding: 7px 11px;
	border-radius: 6px;
	border: 1px solid #44bf36
}

@media (max-width:640px) {
	.casestudy .list-add {
		display: inline-block
	}
}

.casestudy .end {
	text-decoration: none
}

.casestudy .end h3 {
	width: 100%;
	height: 110px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .2s ease
}

.casestudy .end:hover h3 {
	background-color: #ebebeb
}

.casestudy__hero,
.casestudy__hero--bundl,
.casestudy__hero--cruzhacks,
.casestudy__hero--t4g,
.casestudy__hero--wam {
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.casestudy__hero--bundl img,
.casestudy__hero--cruzhacks img,
.casestudy__hero--t4g img,
.casestudy__hero--wam img,
.casestudy__hero img {
	margin: 30px 0
}

@media (max-width:640px) {
	.casestudy__hero,
	.casestudy__hero--bundl,
	.casestudy__hero--cruzhacks,
	.casestudy__hero--t4g,
	.casestudy__hero--wam {
		height: 70vh;
		min-height: 535px
	}
}

.casestudy__hero--bundl {
	background: white
}

.casestudy__hero--cruzhacks {
	background: linear-gradient(160deg, #ac89ff, #625fff)
}

.casestudy__hero--wam {
	background: #748fff
}

.casestudy__hero--t4g {
	background: linear-gradient(160deg, #fbdf3c, #fff3a8)
}

.casestudy__card {
	width: 270px;
	padding: 25px;
	text-align: center;
	background: #fff;
	border-radius: 12px;
	border: 1px solid #efefef;
	box-shadow: 0 2px 8px rgba(75, 80, 86, .2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.casestudy__card .logo-wam {
	margin-right: 7px
}

.casestudy__intro {
	margin: 70px 0;
	padding: 44px;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .02);
	border-radius: 9px;
	font-weight: 100
}

.twocol,
.twocol--img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 820px;
	height: 290px;
	margin: 20px -70px 40px;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	box-shadow: 0 3px 13px rgba(0, 0, 0, .02);
	transition: box-shadow .5s ease
}

@media (max-width:900px) {
	.twocol,
	.twocol--img {
		width: auto;
		flex-direction: column;
		height: auto;
		margin: 40px 0;
		padding: 20px 40px
	}
	.twocol--img .col,
	.twocol .col {
		width: auto;
		margin: 20px 0
	}
}

.twocol--img:hover,
.twocol:hover {
	box-shadow: none
}

.twocol--img .col {
	width: auto
}

.twocol--img .col--divider,
.twocol--img .col img {
	margin: 0
}

footer {
	margin-top: 50px;
	background-color: #fcfcfc;
	padding: 28px 70px;
	font-size: .75em;
	display: flex;
	justify-content: space-between;
	align-items: center
}

@media (max-width:900px) {
	footer {
		padding: 20px 30px;
		align-items: flex-start
	}
	footer p:last-child {
		text-align: right
	}
}

footer .social {
	margin: 8px 0 0;
	display: flex;
	align-items: center;
	opacity: .6
}

footer .social a img {
	height: 20px;
	opacity: .7
}

footer .social a:first-child img {
	height: 23px
}

.imgcenter {
	display: flex;
	justify-content: center
}

.col {
	width: 310px
}

.col p {
	margin-bottom: 0
}

.col--divider {
	height: 180px;
	margin: auto 30px;
	border-left: 1px solid #eaeaea
}

.crimewatch {
	color: #fff
}

.crimewatch--sub {
	color: #a5c8fa
}

@media (max-width:900px) {
	.hide-mobile {
		display: none!important;
		visibility: hidden!important
	}
}

@media (min-width:900px) {
	.hide-desktop {
		display: none!important;
		visibility: hidden!important
	}
}

.hidden {
	visibility: hidden;
	opacity: 0
}

.fade-in {
	opacity: 0;
	transform: translateY(3px)
}

.mt-0 {
	margin-top: 0!important
}

.mb-s {
	margin-bottom: 25px!important
}

.fx-s {
	justify-content: flex-start!important
}

.cl {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99
}

.center {
	display: flex;
	align-items: center;
	justify-content: center
}

.center--text {
	text-align: center
}

.deactivated {
	animation: .3s ease .7s forwards b
}

.deactivated:hover {
	animation: .3s ease .7s backwards b
}

@media (max-width:640px) {
	.deactivated {
		margin-bottom: 30px
	}
}

.dark {
	background-color: #202022
}

.dark h1,
.dark h2,
.dark h3,
.dark h4 {
	color: #fff
}

.dark .work__card,
.dark .work__card__tiny,
.dark .work__card__tiny--reach,
.dark .work__card__tiny--sink,
.dark .work__card__tiny--unif {
	background: #323233;
	border: 1px solid #404144;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .22)
}

.dark .work__card__tiny,
.dark .work__card__tiny--reach,
.dark .work__card__tiny--sink,
.dark .work__card__tiny--unif {
	color: #fff
}

.dark .work__card__tiny--reach:hover {
	background: blue;
	border: 1px solid blue;
	color: #fff
}

.dark .work__card__tiny--sink:hover {
	background: #f0d;
	border: 1px solid #f0d;
	color: #fff
}

.dark .work__card__tiny--unif:hover {
	background: #fffb00;
	border: 1px solid #fffb00;
	color: #fff
}

.dark .link,
.dark .link--e,
.dark .link--r,
.dark .link--s,
.dark .link--t,
.dark .link--w {
	color: #ccc;
	box-shadow: inset 0 -9px 0 hsla(0, 0%, 100%, .1)
}

.dark .casestudy a {
	color: #fff
}

.dark .casestudy h2,
.dark .casestudy h3,
.dark .casestudy p {
	color: #888
}

.dark .casestudy ol,
.dark .casestudy ul {
	color: #b3b3b3
}

.dark .casestudy .highlight {
	color: #d8d8d8;
	border-left: 2px solid #6b6b6b
}

.dark .casestudy .twocol,
.dark .casestudy .twocol--img,
.dark .casestudy__card,
.dark .casestudy__intro {
	background: #323233;
	border: 1px solid #404144
}

.dark .casestudy .twocol--img .col--divider,
.dark .casestudy .twocol .col--divider {
	border: 1px solid #4a4a4a
}

.dark .casestudy .twocol--img {
	background: #000
}

.dark .casestudy .twocol--img .col img {
	filter: invert()
}

.dark .casestudy .end h3 {
	background-color: #333
}

.dark .casestudy .end h3:hover {
	background-color: #484848
}

.dark .read-reset {
	border: 1px solid #4a4a4a
}

.dark footer {
	background-color: #18181b;
	border-top: 1px solid #151515;
	box-shadow: inset 0 12px 35px rgba(0, 0, 0, .04)
}

.none {
	display: none;
	opacity: 0!important
}

.about {
	height: calc(100vh + 37px)
}

.headshot {
	width: 100px;
	border-radius: 50%;
	margin-bottom: 20px
}

#toggle {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: start;
	justify-content: flex-end
}

@media (max-width:640px) {
	#toggle {
		justify-content: flex-start;
		align-items: flex-end
	}
}

.logo-bundl,
.logo-cruzhacks,
.logo-t4g,
.logo-wam {
	opacity: 1;
	transition: opacity .5s ease
}

.backhome:before {
	content: "\2190   Back to home"
}

.emoji {
	opacity: 1;
	color: #fff;
	transition: opacity .5s ease;
	font-size: 1.3em
}

.emoji:after {
	content: "\263A\FE0F"
}

.emoji:hover:after {
	content: "\1F62E"
}

.emoji:active:after {
	content: "\1F4AF"
}

@media (max-width:640px) {
	.emoji {
		position: relative;
		top: 8px
	}
}

.emoji-logo,
.emoji-logo--bundl:after,
.emoji-logo--cruzhacks:after,
.emoji-logo--t4g:after,
.emoji-logo--wam:after {
	font-size: 5em
}

.emoji-logo--bundl:after {
	content: "\1F5DE"
}

.emoji-logo--cruzhacks:after {
	content: "\1F4A1"
}

.emoji-logo--wam:after {
	content: "\1F4BB"
}

.emoji-logo--t4g:after {
	content: "\1F600"
}

.norm {
	width: 23px;
	height: 23px
}

.moon,
.norm {
	opacity: 1;
	transition: opacity .5s ease
}

@keyframes a {
	0% {
		opacity: 0;
		color: #fff
	}
	65% {
		transform: translateY(-15px);
		color: #fff;
		opacity: 0
	}
	to {
		transform: translateX(0);
		opacity: 1;
		color: #dcdcdc
	}
}

@keyframes b {
	0% {
		opacity: 1
	}
	to {
		opacity: .4
	}
}